@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

header{
    background-color: #782221;
}

nav{
    background-color: #2c1d27;
}

#left{
    background-color: #782221;
}

#right{
    background-color: #dbc2a4;
}

footer{
    background-color: #782221;
}